<div class="row">
	<div class="col">
		<h1>Contacto</h1>
		<form class="needs-validation" novalidate [formGroup]="formContacto" (ngSubmit)="enviarFormContacto()">
			<div class="form-row">
				<div class="col-md-6 mb-3">
					<label for="validationCustom01">Primer Nombre</label>
					<input
						type="text"
						class="form-control"
						id="validationCustom01"
						placeholder="Primer Nombre"
						formControlName="primerNombre"
						[ngClass]="{ 'is-invalid': campoValido('primerNombre') }"
					>
					<div class="invalid-feedback">
						<!-- Por favor ingrese el primer nombre. -->
						<!-- {{ formContacto.get('primerNombre').errors | json}} -->
						<!-- {{ formContacto.get('primerNombre').errors?.minlength?.requiredLength | json}} -->
						<span *ngIf="formContacto.get('primerNombre').errors?.required">
							Este campo es required ;).
						</span>
						<span *ngIf="formContacto.get('primerNombre').errors?.minlength">
							Este campo debe tener un mínimo de {{formContacto.get('primerNombre').errors?.minlength?.requiredLength}} carácteres ;).
						</span>
						<span *ngIf="formContacto.get('primerNombre').errors?.maxlength">
							Este campo debe tener un máximo de {{formContacto.get('primerNombre').errors?.maxlength?.requiredLength}} carácteres ;).
						</span>
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="validationCustomUsername">Nombre de Usuario</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroupPrepend">@</span>
						</div>
						<input 
							type="text"
							class="form-control"
							id="validationCustomUsername"
							placeholder="Nombre de Usuario"
							aria-describedby="inputGroupPrepend"
							formControlName="nombreDeUsuario"
							[ngClass]="{ 'is-invalid': campoValido('nombreDeUsuario') }"
						>
						<div class="invalid-feedback">
							<span *ngIf="formContacto.get('nombreDeUsuario').errors?.required">
								Este campo es required ;).
							</span>
							<span *ngIf="formContacto.get('nombreDeUsuario').errors?.minlength">
								Este campo debe tener un mínimo de {{formContacto.get('nombreDeUsuario').errors?.minlength?.requiredLength}} carácteres ;).
							</span>
							<span *ngIf="formContacto.get('nombreDeUsuario').errors?.maxlength">
								Este campo debe tener un máximo de {{formContacto.get('nombreDeUsuario').errors?.maxlength?.requiredLength}} carácteres ;).
							</span>
							<span *ngIf="formContacto.get('nombreDeUsuario').errors?.pattern">
								Debe ingresar un e-mail válido.
							</span>
						<!-- {{ formContacto.get('nombreDeUsuario').errors?.pattern | json}} -->
						</div>
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="col-md-6 mb-3">
					<label for="validationCustom03">Ciudad</label>
					<input 
						type="text"
						class="form-control"
						id="validationCustom03"
						placeholder="Ciudad"
						formControlName="ciudad"
						[ngClass]="{ 'is-invalid': campoValido('ciudad') }"
					>
					<div class="invalid-feedback">
						<span *ngIf="formContacto.get('ciudad').errors?.required">
							Este campo es required ;).
						</span>
						<span *ngIf="formContacto.get('ciudad').errors?.minlength">
							Este campo debe tener un mínimo de {{formContacto.get('ciudad').errors?.minlength?.requiredLength}} carácteres ;).
						</span>
						<span *ngIf="formContacto.get('ciudad').errors?.maxlength">
							Este campo debe tener un máximo de {{formContacto.get('ciudad').errors?.maxlength?.requiredLength}} carácteres ;).
						</span>
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<label for="validationCustom04">Estado</label>
					<input 
						type="text"
						class="form-control"
						id="validationCustom04"
						placeholder="Estado"
						formControlName="estado"
						[ngClass]="{ 'is-invalid': campoValido('estado') }"
					>
					<div class="invalid-feedback">
						<span *ngIf="formContacto.get('estado').errors?.required">
							Este campo es required ;).
						</span>
						<span *ngIf="formContacto.get('estado').errors?.minlength">
							Este campo debe tener un mínimo de {{formContacto.get('estado').errors?.minlength?.requiredLength}} carácteres ;).
						</span>
						<span *ngIf="formContacto.get('estado').errors?.maxlength">
							Este campo debe tener un máximo de {{formContacto.get('estado').errors?.maxlength?.requiredLength}} carácteres ;).
						</span>
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<label for="validationCustom05">Código Postal</label>
					<input 
						type="text"
						class="form-control"
						id="validationCustom05"
						placeholder="Código Postal"
						formControlName="codigoPostal"
						[ngClass]="{ 'is-invalid': campoValido('codigoPostal') }"
					>
					<div class="invalid-feedback">
						<span *ngIf="formContacto.get('codigoPostal').errors?.required">
							Este campo es required ;).
						</span>
						<span *ngIf="formContacto.get('codigoPostal').errors?.minlength">
							Este campo debe tener un mínimo de {{formContacto.get('codigoPostal').errors?.minlength?.requiredLength}} carácteres ;).
						</span>
						<span *ngIf="formContacto.get('codigoPostal').errors?.pattern">
							Ingrese sólo números.
						</span>
					</div>
				</div>
			</div>

			<div class="float-left">
				<button class="btn btn-info btn-lg" (click)="limpiarCampos()">
					Reset
				</button>
			</div>

			<div class="float-right">
				<button class="btn btn-primary btn-lg"
					[disabled]="formContacto.invalid"
				>
					Enviar Formulario ;)
				</button>
			</div>
		</form>
		<br>
		<div class="mt-5">
			<button class="btn btn-info" (click)="valoresPorDefecto()">
				Valores Por Defecto
			</button>&nbsp;
			<button class="btn btn-info" (click)="onPatchValue()">
				Valores Patch
			</button>&nbsp;
			<button class="btn btn-danger" (click)="onSetValue()">
				Valores Set
			</button>
		</div>

	</div>
</div>


<pre>
	Dirty => {{ formContacto.dirty }}
</pre>

<pre>
	Touched => {{ formContacto.touched }}
</pre>

<pre>
	Value (Valor del Formulario):
	{{ formContacto.value | json }}
</pre>

<pre>
	Status (EStado del Formulario) =>  {{ formContacto.status }}
</pre>

<pre>
	Valid =>  {{ formContacto.valid }}
</pre>

<pre>
	Invalid =>  {{ formContacto.invalid }}
</pre>
