<div class="row">
	<div class="col">
		<h1>Contacto</h1>
		<form class="needs-validation" novalidate [formGroup]="formContacto" (ngSubmit)="enviarFormContacto()">
			<div class="form-row">
				<div class="col-md-6 mb-3">
					<label for="validationCustom01">Primer Nombre</label>
					<input
						type="datetime-local"
						class="form-control"
						id="validationCustom01"
						placeholder="Primer Nombre"
						formControlName="primerNombre"
						required
					>
					<div class="invalid-feedback">
						Por favor ingrese el primer nombre.
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="validationCustomUsername">Nombre de Usuario</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroupPrepend">@</span>
						</div>
						<input 
							type="text"
							class="form-control"
							id="validationCustomUsername"
							placeholder="Nombre de Usuario"
							aria-describedby="inputGroupPrepend"
							formControlName="nombreDeUsuario"
							required
						>
						<div class="invalid-feedback">
							Por favor ingrese el nombre de usuario.
						</div>
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="col-md-6 mb-3">
					<label for="validationCustom03">Ciudad</label>
					<input 
						type="text"
						class="form-control"
						id="validationCustom03"
						placeholder="Ciudad"
						formControlName="ciudad"
						required
						autofocus
					>
					<div class="invalid-feedback">
						Proporciona una ciudad válida.
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<label for="validationCustom04">Estado</label>
					<input 
						type="text"
						class="form-control"
						id="validationCustom04"
						placeholder="Estado"
						formControlName="estado"
						required
					>
				</div>
				<div class="col-md-3 mb-3">
					<label for="validationCustom05">Código Postal</label>
					<input 
						type="text"
						class="form-control"
						id="validationCustom05"
						placeholder="Código Postal"
						formControlName="codigoPostal"
						required
					>
					<div class="invalid-feedback">
						Proporcione un código postal.
					</div>
				</div>
			</div>

			<div class="float-left">
				<button class="btn btn-info btn-lg" (click)="limpiarCampos()">
					Reset
				</button>
			</div>

			<div class="float-right">
				<button class="btn btn-primary btn-lg"
					[disabled]="formContacto.invalid"
				>
					Enviar Formulario ;)
				</button>
			</div>
		</form>
		<br>
		<div class="mt-5">
			<button class="btn btn-info" (click)="valoresPorDefecto()">
				Valores Por Defecto
			</button>&nbsp;
			<button class="btn btn-info" (click)="onPatchValue()">
				Valores Patch
			</button>&nbsp;
			<button class="btn btn-danger" (click)="onSetValue()">
				Valores Set
			</button>
		</div>

	</div>
</div>


<pre>
	Value (Valor del Formulario):
	{{ formContacto.value | json }}
</pre>

<pre>
	Status (EStado del Formulario) =>  {{ formContacto.status }}
</pre>

<pre>
	Valid =>  {{ formContacto.valid }}
</pre>

<pre>
	Invalid =>  {{ formContacto.invalid }}
</pre>